.wrapper{
position:relative;
border-radius: 30px;
width: 600px;
height: 736px;
background-color: #1f1f1f;

}
.paddingSmall{
    padding:40px 64px;
}
.paddingLarge{
    /* padding:80px 97px 0px 98px; */
    padding:0;
}

  