.container{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--body-bg-color);
    height:auto;
    display:flex;
    gap:16px;
}
@media screen and (min-width: 1440px) {
    .container{
        width:1280px;
        padding:32px;
        display: flex;
        gap:16px;
        
    }
}