.title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: var(--invent-color);
  margin-bottom: 20px;
  width: 295px;
}
.part {
  color: rgba(227, 227, 227, 0.5);
}
.eyeIcon {
  position: absolute;
  width:18px;
  height:18px;
  top: 13px;
  right: 13px;
}
.errorIcon{
  position: absolute;
  top: 13px;
  right: 13px; 
  width:18px;
  height:18px;
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 295px;
}
.btnSubmit {
  border-radius: 30px;
  padding: 12px 45px;
  background-color: var(--invent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  color: #1f1f1f;
  margin-right: 14px;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 72px;
}
.inputField {
  width: 295px;
  height: 44px;
  border-radius: 12px;
  background: var(--input-bg-color);
  outline: none;
  border: none;
  color: var(--invent-color);
}
input:focus{
    border: 1px solid rgba(249, 249, 249, 0.1);
}
.mailInput {
  padding: 14px 159px 14px 49px;
}
.passwordInput {
  padding: 14px 119px 14px 78px;
}
.successIcon{
  width:8.1px;
   height: 6.8px;
  }
  .iconWrapper {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid var(--success-color);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inputLabel{
    position: absolute;
    top: 14px;
    left: 14px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
    color: var(--additional-color);
  }
  input::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: var(--invent-color);
  }
  .link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--additional-color);
    }
    .successMessage{
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 10px;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: var(--success-color);
      margin-top: 4px;
    }
    .errorMessage{
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 10px;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: var(--error-color);
      margin-top: 4px;
    }
    .successIcon{
      width:8.1px;
       height: 6.8px;
      }

@media screen and (min-width: 767px) {
.title {
  font-size: 64px;
  line-height: 0.94;
  letter-spacing: 0.02em;
 margin-bottom: 40px;
  width: 444px;
}

.eyeIcon {
  position: absolute;
  width:20px;
  height:20px;
  top: 15px;
  right: 15px;
}
.wrapper {
  width: 472px;
}
.btnSubmit {
  padding: 16px 54px;
  font-size: 20px;
  line-height: 1;
  margin-right: 20px;
}
.inputWrapper {
  gap: 14px;
  margin-bottom: 82px;
}
.inputField {
  width: 472px;
  height: 50px;
 
}
input:focus{
    border: 1px solid rgba(249, 249, 249, 0.1);
}

.mailInput {
  padding: 16px 318px 16px 53px;
}
.passwordInput {
  padding: 16px 271px 16px 86px;
  
}
.inputLabel {
  top: 15px;
  left: 14px;
  font-size: 14px;
  line-height: 1.29;
 }
input::placeholder {
  font-size: 14px;
  line-height: 1.29
  }
.link {
   font-size: 14px;
    line-height: 1.29;

}
.errorMessage {
  font-size: 12px;
  line-height: 1.17;
  margin-top: 8px;
}
.successIcon{
  width: 9px;
   height: 7.6px;
  }
.iconWrapper{
    top:15px;
    right:15px;
    width:20px;
    height:20px;
   
}
.successMessage{
font-size: 12px;
line-height: 1.17;
margin-top: 8px;
}
.errorBorder{
    border:1px solid var(--error-color);
}
.successBorder{
    border:1px solid var(--success-color);
}
.errorIcon{
  position: absolute;
  top: 15px;
  right: 15px; 
  width:20px;
  height:20px;
}
}